<div class="container text-center mt-5 ">
    <div class="row">
        <div class="col">
            <h3>Chat Component</h3>
        </div>
    </div>
    <div class="row ">
        <div class="row mt-3 justify-content-md-center">
        <div class="col-md-6">
            <form class="form d-flex">
                <div class="form-group flex-grow-1 me-2">
                    <input type="text" [ngModel]="message()" (ngModelChange)="message.set($event)"name="messageout" id="messageout" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" (click)="sendMessage()">Send</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div>
            <h6>Messages:</h6>
        </div>
        <div>
            <ul>
                <li *ngFor="let message of messages()">{{message.msg}}</li>
            </ul>
        </div>
    </div>
</div>
